{
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": 0
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "globals": {
    "document": true
  }
}