.container {
  width: 66vw;
  margin: 20px auto;

  .instructions {
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid #ccc; 
    margin-bottom: 18px;
    p {
      margin: 4px;
    }
  }

  .textarea {
    width: 100%;
    height: auto;
    min-height: 420px;
    padding: 4px;
    outline: none;
    font-size: 16px;
    border: 1px solid #ccc;
    &.small {
      min-height: 120px;
      font-size: 12px;
    }
  }

  button {
    margin-bottom: 18px;
  }

  #author {
    width: 120px;
    height: 30px;
    margin: auto;
    font-size: 12px;
    img {
      width: 20px;
      height: 20px;
      vertical-align: bottom;
    }
  }
}